@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cera Pro Black";
  src: url("../fonts/CeraPro-Black.eot");
  src: url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CeraPro-Black.woff2") format("woff2"),
    url("../fonts/CeraPro-Black.woff") format("woff"),
    url("../fonts/CeraPro-Black.ttf") format("truetype"),
    url("../fonts/CeraPro-Black.svg#CeraPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Bold";
  src: url("../fonts/CeraPro-Bold.eot");
  src: url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CeraPro-Bold.woff2") format("woff2"),
    url("../fonts/CeraPro-Bold.woff") format("woff"),
    url("../fonts/CeraPro-Bold.ttf") format("truetype"),
    url("../fonts/CeraPro-Bold.svg#CeraPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Light";
  src: url("../fonts/CeraPro-Light.eot");
  src: url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CeraPro-Light.woff2") format("woff2"),
    url("../fonts/CeraPro-Light.woff") format("woff"),
    url("../fonts/CeraPro-Light.ttf") format("truetype"),
    url("../fonts/CeraPro-Light.svg#CeraPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro Medium";
  src: url("../fonts/CeraPro-Medium.eot");
  src: url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CeraPro-Medium.woff2") format("woff2"),
    url("../fonts/CeraPro-Medium.woff") format("woff"),
    url("../fonts/CeraPro-Medium.ttf") format("truetype"),
    url("../fonts/CeraPro-Medium.svg#CeraPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cera Pro Bold";
}

/* align  antd button and icon well */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: initial !important;
}

.headings:before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 230, 138);
}

@media (min-width: 768px) {
  /* TRY */
}
